body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 20px;
}

h1 {
  color: #38bdf8;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
